@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Signal from Noise</h1>
    <p class="lead">Signal from Noise, like gold from lead, transmission from a far-off Philosopher's Stone. 3rd rock from the sun - or thereabouts.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First pass filter</h2>
        <p>
            The Alien is no longer sending postcards, rather telephonic telegrams, beamed on your sideband, direct to your brain. It ain't the music of the spheres, but sit back, tune in, be assimilated...
        </p>
        <p><a class="btn btn-default" href="http://www.minionsnomore.com/videos-wrongness.html">The Wrongness &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Surfin' with the Alien</h2>
        <p>Riding along on the crest of a wave.</p>
        <p><a class="btn btn-default" href="http://horotheboat.wordpress.com/">Sail on&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Noise</h2>
        <p>Sometimes it's a strain on the brain, and you need a holiday from meaning. Keep banging the rocks together, guys!</p>
        <p><a class="btn btn-default" href="http://sleeping-beauty.net">RTFO &raquo;</a></p>
    </div>
</div>